---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/sms/json
    body:
      encoding: US-ASCII
      string: from=Catch+Chat&to=%2B8615626044835&text=Test+Message+%28Catch+Chat%29&api_key=8d3622ae&api_secret=a355624d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"message-count":"1","messages":[{"to":"8615626044835","message-id":"06000000111F61C3","status":"0","remaining-balance":"21.84790000","message-price":"0.05000000","network":"46001"}]}'
  recorded_at: Thu, 04 Dec 2014 07:20:00 GMT
recorded_with: VCR 2.9.3
