---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=s3-ruanwz-test-post&Timestamp=2014-11-20T09%3A00%3A00Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20141120T090000Z
      X-Amz-Content-Sha256:
      - 1f36603e88abbba1aa93df3f8116450f2854bd37e9f0a88a7cfdc6380dac6df2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJBKE2ELJWZ2W3R5Q/20141120/us-west-2/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=1dd8cd15232e56394504e2c712052816c05279eb3fc1b8c06b88cac5f0d280c1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 06d8d6b8-92a1-5753-8e8e-9a5f22ec8773
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.us-west-2.amazonaws.com/703201117477/s3-ruanwz-test-post</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>06d8d6b8-92a1-5753-8e8e-9a5f22ec8773</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Thu, 20 Nov 2014 09:00:00 GMT
- request:
    method: post
    uri: https://sqs.us-west-2.amazonaws.com/703201117477/s3-ruanwz-test-post
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-west-2.amazonaws.com%2F703201117477%2Fs3-ruanwz-test-post&Timestamp=2014-11-20T09%3A00%3A00Z&Version=2012-11-05&WaitTimeSeconds=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20141120T090000Z
      X-Amz-Content-Sha256:
      - 67fca111a3b2f5b0907f9a85b94abee245ad086c172a31dcbe936533510557e7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJBKE2ELJWZ2W3R5Q/20141120/us-west-2/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=2d49443bf846408f64e8ab09cb97187af2e41223faed97b9c5ad925049f17926
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 355f59ac-ece7-5d71-aa0f-154b5ca998d4
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><Body>{&quot;Records&quot;:[{&quot;eventVersion&quot;:&quot;2.0&quot;,&quot;eventSource&quot;:&quot;aws:s3&quot;,&quot;awsRegion&quot;:&quot;us-west-2&quot;,&quot;eventTime&quot;:&quot;2014-11-20T09:02:04.195Z&quot;,&quot;eventName&quot;:&quot;ObjectCreated:Post&quot;,&quot;userIdentity&quot;:{&quot;principalId&quot;:&quot;AWS:AIDAJJEOGT2Z6ISDCMGIW&quot;},&quot;requestParameters&quot;:{&quot;sourceIPAddress&quot;:&quot;116.251.221.227&quot;},&quot;responseElements&quot;:{&quot;x-amz-request-id&quot;:&quot;C01E3DA22A69F3F2&quot;,&quot;x-amz-id-2&quot;:&quot;4twSxFJhse+tJcjDKs4HmTxNXnUnTuQJ4f5Rk6RIfb1gXVAC3fAeDgIkeb9Q+dBZ&quot;},&quot;s3&quot;:{&quot;s3SchemaVersion&quot;:&quot;1.0&quot;,&quot;configurationId&quot;:&quot;post-event-to-ruanwz-test&quot;,&quot;bucket&quot;:{&quot;name&quot;:&quot;ruanwz-test&quot;,&quot;ownerIdentity&quot;:{&quot;principalId&quot;:&quot;A2A2PN0QJQDHWO&quot;},&quot;arn&quot;:&quot;arn:aws:s3:::ruanwz-test&quot;},&quot;object&quot;:{&quot;key&quot;:&quot;test-key.jpg&quot;,&quot;size&quot;:3,&quot;eTag&quot;:&quot;900150983cd24fb0d6963f7d28e17f72&quot;}}}]}</Body><MD5OfBody>950e6636ba1d1bbc1fbd501852b75e5a</MD5OfBody><ReceiptHandle>uUk89DYFzt3IlP5TRiRqj7AxpcJU5hHOwF5bkfDS4/L01MOkx0tGqe5qF01dqH/Is2Egs3Y0YL0312bny5vyFe/gZsbYnDH05xbHzNspVYT/NGj8AmJvNEOPpzgQwkKjSMSEYBlI9KvpH3qDSvjrmJjdEQN1B93c+9aouQ33obVq1lD52TMALY5g0xIYTkVM3MFevVUW8L/1zfyR+1ZghZWceSGm2Y8QqbSAiOwzqzAhyM12QZ8CKhTER5WRQMUUwJNWi/RrBn04nMqC1Mi0bOgGErJeMhbwirOv89ilyOc=</ReceiptHandle><MessageId>9440ee05-4eb0-4a0b-a4e0-9192b43bb8fc</MessageId></Message></ReceiveMessageResult><ResponseMetadata><RequestId>355f59ac-ece7-5d71-aa0f-154b5ca998d4</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Thu, 20 Nov 2014 09:00:00 GMT
recorded_with: VCR 2.9.3
