# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 02547304ad3984e5a72ec546e65b005633105c4c052bb55bcf5697f3ebada9ffa642e3edb6117b53e85c0d67e56582ebe24b3d008e6b582c6d987aa3eeb69302

test:
  secret_key_base: 28fdec087e9e6196cffbe4e7cc94ca040e4f51b3ce7d946308fb2b5b0ac0cbfc970052d55e7d04035752312cab41457e6956b1f0e2326a6213bbd39e2e3cc49c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
