defaults: &defaults
  jpush:
    id:
    key:
    company_id:
    company_key:
  xinge:
    android:
      id:
      key:
    ios:
      id:
      key:
    ios_company:
      id:
      key:

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
