---
:concurrency: 5
:daemon: true
:pidfile: tmp/pids/sidekiq.pid
:logfile: log/sidekiq.log
:timeout: 10
staging:
  :concurrency: 10
production:
  :concurrency: 20
:queues:
  - default
  - message_notification
  - push_notification_to_user
  - attachments
  - delete_attachments
